@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', 'San-serif', 'Roboto';
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    display: flex;
    width: 90vw;
}

.card {
    height: 80vh;
    background-size: cover;
    cursor: pointer;
    border-radius: 50px;
    flex: 0.5;
    margin: 10px;
    position: relative;
    color: white;
    transition: flex 0.7s ease-out;
}

.card h3 {
    position:absolute;
    bottom: 50px;
    left: 40px;
    margin: 0;
    opacity: 0;
}

.card.active {
    flex: 5;
}

.card.active h3{
    font-size: 24px;
    opacity: 1;
}

@media (max-width: 480px) {
    
    .container {
        width: 100vw;
        display: block;
        flex-direction: row;
    }
    
    .card {
        height: 5vh;
    }

    .card h3 {
        font-size: 12px;
        position:absolute;
        bottom: 30px;
        left: 30px;
        margin: 0;
        opacity: 0;
    }

    .card.active {
        height: 30vh;
    }
}